<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hungarian spell checker for Firefox and other Mozilla products.</title>
</head>
<body>
  <div style="text-align:center;">
    On GitHub: <a href="https://github.com/crash5/mozilla-hungarian-spellchecker">https://github.com/crash5/mozilla-hungarian-spellchecker</a> <br/>
    Latest version: <a href="https://github.com/crash5/mozilla-hungarian-spellchecker/releases/latest">{{EXTENSION_VERSION}}</a>
  </div>>
</body>
</html>
