{
    "manifest_version": 2,
    "name": "Magyar helyesírás-ellenőrző szótár",
    "description": "Szabad magyar szótár. Készült a Németh László által fejlesztett Magyar Ispell-ből (http://magyarispell.sourceforge.net).",
    "version": "{{EXTENSION_VERSION}}",
    "dictionaries": {
        "hu": "dictionaries/hu.dic"
    },
    "browser_specific_settings": {
        "gecko": {
            "id": "hu-ispell@dictionaries.addons.mozilla.org",
            "update_url": "https://crash5.github.io/mozilla-hungarian-spellchecker/update.json"
        }
    },
    "author": "Nagy Imre",
    "homepage_url": "https://github.com/crash5/mozilla-hungarian-spellchecker"
}
