{
    "addons": {
        "hu-ispell@dictionaries.addons.mozilla.org": {
            "updates": [
                {
                    "version": "{{EXTENSION_VERSION}}",
                    "update_link": "https://github.com/crash5/mozilla-hungarian-spellchecker/releases/download/{{EXTENSION_VERSION}}/{{EXTENSION_FILE_NAME}}"
                }
            ]
        }
    }
}
